<!doctype html>
<html lang="en">
  {% include head.html %}
  <body id="page-top" class="index">

    {% include navbar.html %}

    <!-- Header -->
    <header>
        <img style="width: 82vw" class="d-flex m-auto" src="images/capa_live2020_2k.png">
        <!-- <div class="container">
            <div class="intro-text">
                <div class="intro-heading">{{ page.title }}<br></div>
                <div class="intro-lead-in">{{ page.date }}</div>
                <img id="mascote" src="images/tuxgauderio.png">
            </div>
        </div> -->
    </header>

    <section id="event">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sobre o Evento</h2>
                </div>
            </div>
            <div class="row container">
                {{ content }}
            </div>
        </div>
    </section>

    {% if page.how_to_participate %}
    <section id="enroll">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Programação</h2>
                </div>
            </div>
            <div class="row container">
                {% capture certificate_data %}{% include {{ page.how_to_participate }} %}{% endcapture %}
                {{ certificate_data | markdownify }}
            </div>
            <div class="row container" style="text-align: center">
                <iframe style="margin: 0 auto;" width="560" height="315"
                  {% if page.event_playlist %}
                    src="https://www.youtube.com/embed/videoseries?list={{ page.event_playlist }}"
                  {% else %}
                    src="https://www.youtube.com/embed/videoseries?v={{ page.event_video }}"
                  {% endif %}
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
                </iframe>
            </div>
            <div class="row container" style="text-align: center">
                {% if page.event_playlist %}
                <a target="_blank" href="https://www.youtube.com/playlist?list={{ page.event_playlist }}"
                   style="width: 100%; display: block; font-size: 120%; margin-top: 10px;">
                      Assista às palestras!
                </a>
                {% else %}
                <a target="_blank" href="https://www.youtube.com/watch?v={{ page.event_video }}"
                   style="width: 100%; display: block; font-size: 120%; margin-top: 10px;">
                      Assista às palestras!
                </a>
                {% endif %}
            </div>
        </div>
    </section>
    {% endif %}

    <section id="palestras">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Palestras</h2>
                </div>
            </div>
            <div class="row container">
                <div class="accordion" id="accordionExample">
                    {% assign show = "show" %}
                    {% assign next = 1 %}
                  {% for room in site.data[page.speeches] %}
                  <div class="card z-depth-0 bordered">
                    <div class="card-header" id="heading{{ next }}">
                      <h5 class="mb-0">
                        <button class="btn btn-link speech_room" type="button" data-toggle="collapse" data-target="#collapse{{ next }}"
                          aria-expanded="true" aria-controls="collapse{{ next }}">
                          {{ room.name }}
                        </button>
                      </h5>
                    </div>
                    <div id="collapse{{ next }}" class="collapse {{ show }}" aria-labelledby="heading{{ next }}"
                      data-parent="#accordionExample">
                      <div class="card-body">
                          {% for speech in room.speeches %}
                          <div class="speech">
                              <div class="speech_title">{{ speech.title }}
                                  <span class="speech_target_{{ speech.target | downcase}}">{{ speech.target }}</span>
                              </div>
                              <div class="speech_author">{{ speech.author }}</div>
                              <div class="speech_abstract">{{ speech.abstract }}</div>
                          </div>
                          {% endfor %}
                      </div>
                    </div>
                  </div>
                  {% assign show = "" %}
                  {% assign next = next | plus: 1 %}
                  {% endfor %}
                </div>
             </div>
        </div>
    </section>

    <!-- <section id="cfp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Chamada de Trabalhos</h2>
                </div>
            </div>
            <div class="row container">
              {% capture cfp_data %}{% include cfp.md %}{% endcapture %}
              {{ cfp_data | markdownify }}
            </div>
        </div>
    </section> -->

    <section id="event">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Certificados</h2>
                </div>
            </div>
            <div class="row container">
              {% capture certificate_data %}{% include certificates.md %}{% endcapture %}
              {{ certificate_data | markdownify }}
            </div>
        </div>
    </section>

    <section id="datas">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Datas Importantes</h2>
                </div>
            </div>
            <div class="row container">
              {% capture dates_data %}{% include important_dates.md %}{% endcapture %}
              {{ dates_data | markdownify }}
            </div>
        </div>
    </section>

    <section id="sponsors">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Patrocínio</h2>
                </div>
            </div>
            <div class="row container">
                {% if page.sponsor.gold %}
                <div class="sponsors sponsor_gold">
                    {% for sponsor in page.sponsor.gold %}
                    <a class="sponsor_gold" target="_blank" href="{{ sponsor.url }}"><img class="sponsor_gold" alt="{{ sponsor.name }}" src="{{ sponsor.image }}"></a>
                    {% endfor %}
                </div>
                {% endif %}
                {% if page.sponsor.silver %}
                <div class="sponsors sponsor_silver">
                    {% for sponsor in page.sponsor.silver %}
                    <a class="sponsor_silver" target="_blank" href="{{ sponsor.url }}"><img class="sponsor_silver" alt="{{ sponsor.name }}" src="{{ sponsor.image }}"></a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </section>

   {% if page.supporters %}
    <section id="supporters">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Apoio</h2>
                </div>
            </div>
            <div class="row container">
                <div class="sponsors sponsor_gold">
                    {% for supporter in page.supporters %}
                    <a class="sponsor_gold" target="_blank" href="{{ supporter.url }}"><img class="sponsor_gold" alt="{{ supporter.name }}" src="{{ supporter.image }}"></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    <footer>
      &copy; 2020 Tchelinux
    </footer>

    {% include js.html %}
  </body>
</html>
